body{
    display: flex;
    background-color: black;
    justify-content: center;
    
}
.container{
    display: flex;
    justify-content:center;
    background-color: rgb(22,22,41);
    /* flex-basis: 80%; */
    flex-direction: column;
    padding: 2em;
}
.head-bar{
    display: flex;
    justify-content: end;
    gap: 1.5em;
    color: gray;
    /* justify-content: space-around; */
}
.details{
    display: flex;
    background-color: rgb(135, 183, 242);
    gap: 1.5em;
    border-radius: 20px;
    /* flex-basis: 60%; */
    justify-content: center;
    padding: 3em;
}
.image img{
    border-radius: 20px;
}

.white-text{
    color: white;
    border-radius: 20px;
}
.bg-color{
    background-color: rgb(156, 168, 178);
}
